* {
    box-sizing: border-box;
    margin:0;
}

body {
    margin: 20px 10px;
    font-family:sans-serif;
    background-color: aliceblue;
}

.app__header {
    font-size: 3rem;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid black;
}

.display {
    display: flex;
    text-align: center;
}

.display h2 {
    margin: auto;
}

.loading-msg {
    margin: auto;
    text-align: center;
}

.pokemon {
    text-align: center;
    font-size: 2rem;
    margin: 1rem auto;
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 10px 5px 5px rgba(0,0,0,.4);
    width: 90%;

}


.pokemon:hover {
    cursor: pointer;
    opacity: .8;
}

.pokemon__comment {
    font-style: italic;
}
.pokemon-list {
    list-style: none;
    margin: auto;
    display: block;
    padding: 0;
    flex-grow: 1;
    

}

.pokemon-list__item {
}

@media screen and (min-width: 600px) {
    .pokemon {
        max-width:400px;
    }
}