* {
    box-sizing: border-box;
}

body {
    padding: 10%;
    font-family:sans-serif;
}

.pokemon__name {
    font-size: 2rem;
}

.pokemon__comment {
    font-size: 1rem;
    font-style: italic;
}

.pokemon__value {
    font-size: 1rem;
}

